/* FADES */

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
		.filter-grid{ max-height:1200px !important}
.setores {
                                float: left;
                                margin-left: 10px;
                                padding: 5px;
                                border: 1px #ccc solid;
                                text-align: center;
                                margin-top: 10px;
                                font-size: 16px;
                                text-decoration: none;
                                list-style: none
                            }
                            
                            .setores:hover {
                                opacity: 0.6
                            }
                            
                            .active {
                                border: 2px solid #ccc;
                                font-weight: bold;
                                margin-top: 8px;
                                opacity: 1 !important
                            }
                            
                            .selecione {
                                float: left;
                                margin-left: 10px;
                                margin-top: 12px;
                                font-size: 17.5px
                            }
@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 2s ease-in-out;
-moz-animation: fadeIn 2s ease-in-out;
-o-animation: fadeIn 2s ease-in-out;
animation: fadeIn 2s ease-in-out;
}

.fadeIn2 {
-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
}


.fadeImg {
opacity:0;
-webkit-animation: fadeIn 5s ease-in-out;
-moz-animation: fadeIn 5s ease-in-out;
-o-animation: fadeIn 5s ease-in-out;
animation: fadeIn 5s ease-in-out; 
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
-o-animation-fill-mode:forwards;
animation-fill-mode:forwards;}

.fadeImg-delay {	
-webkit-animation-delay:3s;
-moz-animation-delay:3s;
-o-animation-delay:3s;
animation-delay:3s;}

.fadeImg2 {
opacity:0;
-webkit-animation: fadeIn 500ms linear;
-moz-animation: fadeIn 500ms linear;
-o-animation: fadeIn 500ms linear;
animation: fadeIn 500ms linear; 
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
-o-animation-fill-mode:forwards;
animation-fill-mode:forwards;}

.fadeImg2-delay {	
-webkit-animation-delay:6s;
-moz-animation-delay:6s;
-o-animation-delay:6s;
animation-delay:6s;}



/* WHATSAPP */
.api-whatsapp{	
				background-color: #0d9f16; 
				width:65px; height:65px; 
				position:fixed; bottom:0; 
				right:0; margin:10px; 
				border-radius:40px;
				-webkit-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.3);
				box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.3);
				z-index:9999 !important;
				}
				
.api-whatsapp:hover{
				background: #13b01d;


}
				
				
.api-whatsapp .text-whatsapp{
				color:#fff; 
				text-align:center; 
				line-height:70px
				}
				
.api-whatsapp i{
				font-size:25px;
				}
				
.api-whatsapp .text-whatsapp span{
				 margin-left:5px;
				 font-size:17px;
				 }
				 
				 
.div-contato{	
				background-color: #000; 
				width:65px; height:65px; 
				position:fixed;
				bottom:0; 
				margin-right:83px !important;
				right:0; margin:10px; 
				border-radius:40px;
				-webkit-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.3);
				box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.3);
				z-index:9999 !important;
				}
				
.div-contato:hover{
				background: #454545;


}
				
				
.div-contato .text-contato{
				color:#fff; 
				text-align:center; 
				line-height:65px
				}
				
.div-contato i{
				font-size:21px;
				}
				
.div-contato .text-contato span{
				 margin-left:5px;
				 font-size:17px;
				 }
				 
				 
.plenum_acessos:hover h5{
			  -moz-transform: scale(1.1);
			  -webkit-transform: scale(1.1);
			  transform: scale(1.1);
			  text-decoration:underline;
			}
				 
				 

/* 1.1 body */
body{ margin:0px; padding:0px; }

/* 1.2 container */
.plenum_container{ width:1200px; margin:auto; padding: 0px; }
.plenum_clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.plenum_site{ float: left; width: 100%; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease; }
.plenum_section{ width: 100%; float: left; }

/* 1.3 grid */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12{ padding:15px; float:left; display:inline; box-sizing:border-box; }
.grid_1 {width:8.33%;}
.grid_2 {width:16.66%;}
.grid_3 {width:25%;}
.grid_4 {width:33.33%;}
.grid_5 {width:41.66%;}
.grid_6 {width:50%;}
.grid_7 {width:58.33%;}
.grid_8 {width:66.66%;}
.grid_9 {width:75%;}
.grid_10 {width:83.33%;}
.grid_11 {width:91.66%;}
.grid_12 {width:100%;}

/* 2 TEXT ------------------------------------------------------- */

/* 2.1 text rules */
p,h1,h2,h3,h4,h5,h6{ margin:0px; padding:0px; font-weight: normal; }
a{ text-decoration: none; }

/* 2.2 text color */
label{margin-bottom:5px !important;}
h1,h2,h3,h4,h5,h6,.plenum_datepicker .ui-datepicker-header .ui-datepicker-title{ color: #727475; }
p,input,label,textarea,.plenum_datepicker, select { color:#a3a3a3; }
a{ color: #a3a3a3; }

/* 2.3 text size */
h1{ font-size: 30px; line-height: 30px; }
h2{ font-size: 25px; line-height: 25px; }
h3{ font-size: 20px; line-height: 20px; }
h4{ font-size: 17px; line-height: 17px; }
h5{ font-size: 15px; line-height: 15px; }
h6{ font-size: 13px; line-height: 13px; }
p { font-size: 16px; line-height: 30px; }
input,label,textarea, select { font-size: 15px; }

/* 2.4 text font */
h1,h2,h3,h4,h5,h6,.plenum_first_font,.plenum_datepicker .ui-datepicker-title{ font-family: 'Montserrat', sans-serif; }
p,a,input,label,.plenum_second_font,.plenum_datepicker,textarea, select { font-family: 'Varela Round', sans-serif; }
.plenum_third_font{ font-family: 'Hind', sans-serif; }


/* 3 FORMS ------------------------------------------------------- */

input,textarea, select  { background-color: #f9f9f9; outline: 0; border: 1px solid #f1f1f1; padding: 10px 20px; float: left; width: 100%; box-sizing:border-box; }

/* 4 TABLE ------------------------------------------------------- */

table{ border-collapse: collapse; }


/* 5 TABS ------------------------------------------------------- */

.plenum_tabs .ui-tabs-active.ui-state-active { box-shadow: 0px 2px 0px rgb(26, 99, 154); }


/* 6 CALENDAR ------------------------------------------------------- */

.plenum_datepicker { float: left; width: 100%; text-align: center; }
.plenum_datepicker .ui-datepicker { float: left; width: 100%; }
.plenum_datepicker .ui-datepicker-header { float: left; width: 100%; }
.plenum_datepicker .ui-datepicker-calendar { display: inline-table; width: 95%; margin-top: 15px; margin-bottom: 15px; }
.plenum_datepicker .ui-datepicker-prev { display: none; }
.plenum_datepicker .ui-datepicker-next { display: none; }

.plenum_datepicker .ui-datepicker-header .ui-datepicker-title { background-color: #F9F9F9; padding: 20px; font-size: 20px; font-weight: bolder; border-bottom: 1px solid #f1f1f1; }
.plenum_datepicker .ui-datepicker-calendar { margin-top: 10px; }
.plenum_datepicker .ui-datepicker-calendar th { color: #727475; }
.plenum_datepicker .ui-datepicker-calendar th,.plenum_datepicker .ui-datepicker-calendar td { padding: 10px 5px; }

.plenum_datepicker .ui-datepicker-unselectable span { background-color: #fff; }
.plenum_datepicker a.ui-state-default { background-color: rgb(26, 99, 154); color:#fff; padding: 5px; border-radius: 3px; }

/* 7 FRAMEWORK CLASS ------------------------------------------------------- */

.plenum_conteudo{
	padding: 15px;
    background: #f9f9f9;
    margin-top: 5px;
    border-radius: 2px;
    border: 1px solid #f1f1f1;}

/* 7.1 text-align */
.plenum_text_align_center { text-align: center; }
.plenum_text_align_right { text-align: right; }
.plenum_text_align_left { text-align: left; }

/* 7.2 text-transform */
.plenum_text_transform_uppercase{ text-transform: uppercase; }


/* 7.3 color */
.plenum_color_white { color: #fff; }
.plenum_color_blue{ color: rgb(26, 99, 154); font-weight:bold}
.plenum_color_grey { color: #a3a3a3; }
.plenum_color_greydark { color: #727475; }
.plenum_color_greydark_hover:hover { color: #727475; }
.plenum_color_f1f1f1{ color: #f1f1f1; }
.plenum_color_green{ color: #68B78C; }
.plenum_color_green_hover:hover{ color: #68B78C; }
.plenum_color_orange{ color: #ceb28d; }
.plenum_color_orange_hover:hover{ color: #ceb28d; }
.plenum_color_white_hover:hover{ color: #fff; }


/*placeholer*/
.plenum_placeholder_color_white::-webkit-input-placeholder  { color: #fff; }

.plenum_placeholder_color_white::-webkit-input-placeholder, select{ color:#757575 }
.plenum_placeholder_color_white::-moz-placeholder { color: #fff; }
.plenum_placeholder_color_white:-ms-input-placeholder, select  { color: #fff; }
.plenum_placeholder_color_white:-moz-placeholder { color: #fff; }



/* 7.4 font-size */
.plenum_font_size_80 { font-size: 80px; line-height: 80px; }
.plenum_font_size_70 { font-size: 70px; line-height: 70px; }
.plenum_font_size_60 { font-size: 60px; line-height: 60px; }
.plenum_font_size_50 { font-size: 50px; line-height: 50px; }
.plenum_font_size_40 { font-size: 40px; line-height: 45px; }
.plenum_font_size_30 { font-size: 30px; line-height: 30px; }
.plenum_font_size_25 { font-size: 25px; line-height: 25px; }
.plenum_font_size_20 { font-size: 20px; line-height: 20px; }
.plenum_font_size_15 { font-size: 15px; line-height: 15px; }
.plenum_font_size_14 { font-size: 14px; line-height: 14px; }
.plenum_font_size_13 { font-size: 13px; line-height: 13px; }
.plenum_font_size_12 { font-size: 12px; line-height: 12px; }
.plenum_font_size_11 { font-size: 11px; line-height: 12px; }
.plenum_font_size_10 { font-size: 10px; line-height: 10px; }
.plenum_font_size_8 { font-size: 8px; line-height: 8px; }


/* 7.5 height */
.plenum_height_1000{ height: 1000px; }
.plenum_height_600{ height: 600px; }
.plenum_height_570{ height: 570px; }
.plenum_height_550{ height: 550px; }
.plenum_height_500{ height: 500px; }
.plenum_height_450{ height: 450px; }
.plenum_height_400{ height: 400px; }
.plenum_height_300{ height: 300px; }
.plenum_height_250{ height: 250px; }
.plenum_height_200{ height: 200px; }
.plenum_height_150{ height: 150px; }
.plenum_height_100{ height: 100px; }
.plenum_height_90{ height: 90px; }
.plenum_height_80{ height: 80px; }
.plenum_height_70{ height: 70px; }
.plenum_height_60{ height: 60px; }
.plenum_height_55{ height: 55px; }
.plenum_height_50{ height: 50px; }
.plenum_height_40{ height: 40px; }
.plenum_height_33{ height: 33px; }
.plenum_height_30{ height: 30px; }
.plenum_height_25{ height: 25px; }
.plenum_height_20{ height: 20px; }
.plenum_height_15{ height: 15px; }
.plenum_height_13{ height: 13px; }
.plenum_height_10{ height: 10px; }
.plenum_height_5{ height: 5px; }
.plenum_height_3{ height: 3px; }
.plenum_height_2{ height: 2px; }
.plenum_height_1{ height: 1px; }
.plenum_height_auto{ height: auto; }
.plenum_height_100_percentage { height: 100%; }


/* 7.6 line-height */
.plenum_line_height_5 { line-height: 5px; }
.plenum_line_height_16 { line-height: 16px; }
.plenum_line_height_17 { line-height: 17px; }
.plenum_line_height_18 { line-height: 18px; }
.plenum_line_height_20 { line-height: 20px; }
.plenum_line_height_25 { line-height: 25px; }
.plenum_line_height_31 { line-height: 31px; }
.plenum_line_height_30 { line-height: 30px; }
.plenum_line_height_35 { line-height: 35px; }
.plenum_line_height_50 { line-height: 50px; }


/* 7.7 width */
.plenum_width_700 { width: 700px; }
.plenum_width_300 { width: 300px; }
.plenum_width_200 { width: 200px; }
.plenum_width_170 { width: 170px; }
.plenum_width_150 { width: 150px; }
.plenum_width_100 { width: 100px; }
.plenum_width_90 { width: 90px; }
.plenum_width_70 { width: 70px; }
.plenum_width_60 { width: 60px; }
.plenum_width_55 { width: 55px; }
.plenum_width_33 { width: 33px; }
.plenum_width_30_hover:hover { width: 30px; }
.plenum_width_25 { width: 25px; }
.plenum_width_5 { width: 5px; }
.plenum_width_100_percentage { width: 100%; }
.plenum_width_80_percentage { width: 80%; }
.plenum_width_75_percentage { width: 75%; }
.plenum_width_70_percentage { width: 70%; }
.plenum_width_66_percentage { width: 66.66%; }
.plenum_width_65_percentage { width: 65%; }
.plenum_width_60_percentage { width: 60%; }
.plenum_width_55_percentage { width: 55%; }
.plenum_width_50_percentage { width: 50%; }
.plenum_width_35_percentage { width: 35%; }
.plenum_width_33_percentage { width: 33.33%; }
.plenum_width_40_percentage { width: 40%; }
.plenum_width_30_percentage { width: 30%; }
.plenum_width_25_percentage { width: 25%; }
.plenum_width_20_percentage { width: 20%; }
.plenum_width_15_percentage { width: 15%; }
.plenum_width_10_percentage { width: 10%; }
.plenum_width_5_percentage { width: 5%; }


/* 7.8 background-color */
.plenum_bg_white { background-color: #ffffff; }
.plenum_bg_white_hover:hover { background-color: #ffffff; }
.plenum_bg_blue { background-color: rgb(26, 99, 154); }
.plenum_bg_green { background-color: #68B78C; }
.plenum_bg_green_hover:hover { background-color: #68B78C; }
.plenum_bg_grey { background-color: #f9f9f9; }
.plenum_bg_grey_2 { background-color: #a3a3a3; }
.plenum_bg_grey_3 { background-color: #e4e4e4; }
.plenum_bg_greydark { background-color: #444444; }
.plenum_bg_greydark_hover:hover { background-color: #444444; }
.plenum_bg_orange { background-color: #ceb28d; }
.plenum_bg_red { background-color: #CC8585; }
.plenum_bg_yellow { background-color: #FFDA44; }
.plenum_bg_orangedark { background-color: #c4aa87; } 
.plenum_bg_blue_alpha { background-color: rgba(138, 198, 208, 0.75); }
.plenum_bg_green_alpha { background-color: rgba(112, 193, 144, 0.95); }
.plenum_bg_greydark_alpha { background-color: rgba(101, 100, 96, 0.3); }
.plenum_bg_greydark_alpha_4 { background-color: rgba(101, 100, 96, 0.4); }
.plenum_bg_greydark_alpha_6 { background-color: rgba(101, 100, 96, 0.6); }
.plenum_bg_greydark_alpha_8 { background-color: rgba(101, 100, 96, 0.8); }
.plenum_bg_greydark_alpha_9 { background-color: rgba(101, 100, 96, 0.9); }


/* 7.9 background */
.plenum_background_none{ background: none; }
.plenum_background_none_hover:hover{ background: none; }
.plenum_background_blue_hover:hover{ background: rgb(26, 99, 154); }
.plenum_bg_greydark_alpha_gradient { 
	background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,0.1) 60%, rgba(101,100,96,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}
.plenum_bg_greydark_alpha_gradient_2 { 
	background: -moz-linear-gradient(top, rgba(101,100,96,0.8) 0%, rgba(101,100,96,0) 35%, rgba(101,100,96,0) 45%, rgba(101,100,96,0.8) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0.8) 0%,rgba(101,100,96,0) 35%,rgba(101,100,96,0) 45%,rgba(101,100,96,0.8) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0.8) 0%,rgba(101,100,96,0) 35%,rgba(101,100,96,0) 45%,rgba(101,100,96,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99656460', endColorstr='#99656460',GradientType=0 );
}
.plenum_bg_greydark_alpha_gradient_3 { 
	background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,0.65) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}
.plenum_bg_greydark_alpha_gradient_4 { 
	background: -moz-linear-gradient(top, rgba(101,100,96,0.65) 0%, rgba(101,100,96,0.1) 60%, rgba(101,100,96,0) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0.65) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0.65) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}
.plenum_bg_greydark_alpha_gradient_5 { 
	background: -moz-linear-gradient(top, rgba(101,100,96,0.6) 0%, rgba(101,100,96,0.6) 75%, rgba(101,100,96,0) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0.6) 0%,rgba(101,100,96,0.6) 75%,rgba(101,100,96,0) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0.6) 0%,rgba(101,100,96,0.6) 75%,rgba(101,100,96,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99656460', endColorstr='#00656460',GradientType=0 );
}
.plenum_bg_gradient_red_to_green{

	background: rgb(204,133,133);
	background: -moz-linear-gradient(left, rgba(204,133,133,1) 0%, rgba(204,133,133,1) 61%, rgba(104,183,140,1) 82%, rgba(104,183,140,1) 100%);
	background: -webkit-linear-gradient(left, rgba(204,133,133,1) 0%,rgba(204,133,133,1) 61%,rgba(104,183,140,1) 82%,rgba(104,183,140,1) 100%);
	background: linear-gradient(to right, rgba(204,133,133,1) 0%,rgba(204,133,133,1) 61%,rgba(104,183,140,1) 82%,rgba(104,183,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc8585', endColorstr='#68b78c',GradientType=1 );

}

/* 7.10 filter */
.plenum_filter_blur_5 { filter:blur(5px); -webkit-filter: blur(5px); }


/* 7.11 margin */
/*margin general*/
.plenum_margin_0 { margin: 0px; }
.plenum_margin_5 { margin: 5px; }
.plenum_margin_10 { margin: 10px; }
.plenum_margin_15 { margin: 15px; }
.plenum_margin_20 { margin: 20px; }
/*margin bottom*/
.plenum_margin_bottom_20 { margin-bottom: 20px; }
.plenum_margin_bottom_10 { margin-bottom: 10px; }
/*margin top*/
.plenum_margin_top_20 { margin-top: 20px; }
.plenum_margin_top_13 { margin-top: 13px; }
.plenum_margin_top_10 { margin-top: 10px; }
.plenum_margin_top_5 { margin-top: 5px; }
.plenum_margin_top_2 { margin-top: 2px; }
/*margin right*/
.plenum_margin_right_5 { margin-right: 5px; }
.plenum_margin_right_10 { margin-right: 10px; }
.plenum_margin_right_20 { margin-right: 20px; }
.plenum_margin_right_40 { margin-right: 40px; }
.plenum_margin_right_50 { margin-right: 50px; }
.plenum_margin_right_60 { margin-right: 60px; }
/*margin left*/
.plenum_margin_left_0 { margin-left: 0px; }
.plenum_margin_left_5 { margin-left: 5px; }
.plenum_margin_left_10 { margin-left: 10px; }
.plenum_margin_left_15 { margin-left: 15px; }
.plenum_margin_left_20 { margin-left: 20px; }
.plenum_margin_left_40 { margin-left: 40px; }
.plenum_margin_left_80 { margin-left: 80px; }
.plenum_margin_left_60 { margin-left: 60px; }
.plenum_margin_left_70 { margin-left: 70px; }
.plenum_margin_left_120 { margin-left: 120px; }
.plenum_margin_left_200 { margin-left: 200px; }
.plenum_margin_left_220 { margin-left: 220px; }
.plenum_margin_left_240 { margin-left: 240px; }
/*margin left negative*/
.plenum_margin_left_negative_15 { margin-left: -15px; }
/*margin bottom negative*/
.plenum_margin_bottom_negative_15 { margin-bottom: -15px; }
.plenum_margin_bottom_100_negative { margin-bottom: -100px; }
.plenum_margin_bottom_105_negative { margin-bottom: -105px; }
/*margin top negative*/
.plenum_margin_top_negative_30 { margin-top: -30px; }
.plenum_margin_top_negative_225 { margin-top: -225px; }
.plenum_margin_top_negative_300 { margin-top: -300px; }


/* 7.12 padding */
/*padding_general*/
.plenum_padding_0 { padding: 0px; }
.plenum_padding_5 { padding: 5px; }
.plenum_padding_5_10 { padding: 5px 10px; }
.plenum_padding_8 { padding: 8px; }
.plenum_padding_10 { padding: 10px; }
.plenum_padding_10_20 { padding: 10px 20px; }
.plenum_padding_20_10 { padding: 20px 10px; }
.plenum_padding_13_10 { padding: 13px 10px; }
.plenum_padding_13 { padding: 13px; }
.plenum_padding_15 { padding: 15px; }
.plenum_padding_20 { padding: 20px; }
.plenum_padding_28 { padding: 28px; }
.plenum_padding_20_50 { padding: 20px 50px; }
.plenum_padding_20_25 { padding: 20px 25px; }
.plenum_padding_30 { padding: 30px; }
.plenum_padding_40 { padding: 40px; }
.plenum_padding_40_20 { padding: 40px 20px; }
.plenum_padding_50 { padding: 50px; }
.plenum_padding_60 { padding: 60px; }
.plenum_padding_80 { padding: 80px; }
.plenum_padding_90 { padding: 90px; }
.plenum_padding_100 { padding: 100px; }
.plenum_padding_1020 { padding: 10px 20px; }
.plenum_padding_510 { padding: 5px 10px; }
/*bottom*/
.plenum_padding_botttom_0 { padding-bottom: 0px; }
.plenum_padding_botttom_5 { padding-bottom: 5px; }
.plenum_padding_botttom_10 { padding-bottom: 10px; }
/*top*/
.plenum_padding_top_0 { padding-top: 0px; }
.plenum_padding_top_10 { padding-top: 10px; }
/*left*/
.plenum_padding_left_220 { padding-left: 220px; }
.plenum_padding_left_120 { padding-left: 120px; }
.plenum_padding_left_100 { padding-left: 100px; }
.plenum_padding_left_90 { padding-left: 90px; }
.plenum_padding_left_80 { padding-left: 80px; }
.plenum_padding_left_70 { padding-left: 70px; }
.plenum_padding_left_50 { padding-left: 50px; }
.plenum_padding_left_45 { padding-left: 45px; }
.plenum_padding_left_40 { padding-left: 40px; }
.plenum_padding_left_25 { padding-left: 25px; }
.plenum_padding_left_20 { padding-left: 20px; }
.plenum_padding_left_10 { padding-left: 10px; }
.plenum_padding_left_5 { padding-left: 5px; }
.plenum_padding_left_0 { padding-left: 0px; }
/*right*/
.plenum_padding_right_0 { padding-right: 0px; }
.plenum_padding_right_5 { padding-right: 5px; }
.plenum_padding_right_10 { padding-right: 10px; }
.plenum_padding_right_20 { padding-right: 20px; }
.plenum_padding_right_40 { padding-right: 40px; }


/* 7.13 border */
/*border radius*/
.plenum_border_radius_3 { border-radius: 3px; }
.plenum_border_radius_0_0_3_3 { border-radius: 0px 0px 3px 3px; }
.plenum_border_radius_3_3_0_0 { border-radius: 3px 3px 0px 0px; }
.plenum_border_radius_50 { border-radius: 50px; }
.plenum_border_radius_100_percentage { border-radius: 100%; }
/*general border*/
.plenum_border_width_2 { border-width: 2px; }
.plenum_border_0 { border: 0px solid #fff; }
.plenum_border_1_solid_white { border: 1px solid #fff; }
.plenum_border_2_solid_white { border: 2px solid #fff; }
.plenum_border_2_solid_white_hover:hover { border: 2px solid #fff; }
.plenum_border_1_solid_grey { border: 1px solid #f1f1f1; }
.plenum_border_1_solid_grey_2 { border: 1px solid #a3a3a3; }
.plenum_border_3_solid_white { border: 3px solid #fff; }
.plenum_border_3_dashed_grey { border: 3px dashed #f1f1f1; }
.plenum_border_1_solid_green { border: 1px solid #68B78C; }
.plenum_border_1_solid_green_hover:hover { border: 1px solid #68B78C; }
.plenum_border_2_solid_green { border: 2px solid #68B78C; }
.plenum_border_2_solid_blue { border: 2px solid rgb(26, 99, 154); }
.plenum_border_2_solid_blue_hover:hover { border: 2px solid rgb(26, 99, 154); }
.plenum_border_1_solid_orange { border: 1px solid #ceb28d; }
/*border top*/
.plenum_border_top_width_0{ border-top-width: 0px; }
.plenum_border_top_1_solid_grey { border-top: 1px solid #f1f1f1; }
.plenum_border_top_1_solid_greydark { border-top: 1px solid #595959; }
.plenum_border_top_2_solid_grey { border-top: 2px solid #f1f1f1; }
/*border bottom*/
.plenum_border_bottom_width_0{ border-bottom-width: 0px; }
.plenum_border_bottom_width_2{ border-bottom-width: 2px; }
.plenum_border_bottom_1_solid_grey { border-bottom: 1px solid #f1f1f1; }
.plenum_border_bottom_2_solid_grey { border-bottom: 2px solid #f1f1f1; }
.plenum_border_bottom_2_solid_greendark { border-bottom: 2px solid #64AB84; }
.plenum_border_bottom_4_solid_white { border-bottom: 4px solid #fff; }
.plenum_border_bottom_3_solid_white { border-bottom: 3px solid #fff; }
.plenum_border_bottom_1_solid_greydark { border-bottom: 1px solid #595959; }
/*border left*/
.plenum_border_left_width_0{ border-left-width: 0px; }
/*border right*/
.plenum_border_right_width_0{ border-right-width: 0px; }


/* 7.14 box-sizing */
.plenum_box_sizing_border_box { box-sizing: border-box; }


/* 7.15 list-style */
.plenum_list_style_none { list-style: none; }


/* 7.16 display */
.plenum_display_inline { display: inline; }
.plenum_display_inline_block { display: inline-block; }
.plenum_display_block { display: block; }
.plenum_display_none { display: none; }
.plenum_display_table { display: table; }
.plenum_display_table_cell { display: table-cell; }

/* 7.17 vertical-align */
.plenum_vertical_align_middle { vertical-align: middle; }
.plenum_vertical_align_top { vertical-align: top; }
.plenum_vertical_align_bottom { vertical-align: bottom; }

/* 7.18 float */
.plenum_float_left { float: left; }
.plenum_float_right { float: right; }


/* 7.19 bg size position repeat */
.plenum_background_size_cover { background-size: cover; }
.plenum_background_size_25 { background-size: 25px; }
.plenum_background_position_center { background-position: center center; }
.plenum_background_position_center_bottom { background-position: center bottom; }
.plenum_background_position_center_top { background-position: center top; }
.plenum_background_repeat_no_repeat { background-repeat: no-repeat; }


/* 7.20 position */
.plenum_position_absolute { position: absolute; }
.plenum_position_relative { position: relative; }
.plenum_position_fixed { position: fixed; }


/* 7.21 right left top bottom */
.plenum_right_300_negative { right: -300px; }
.plenum_right_0 { right: 0; }
.plenum_right_20 { right: 20px; }
.plenum_left_0 { left: 0; }
.plenum_left_10 { left: 10px; }
.plenum_left_15 { left: 15px; }
.plenum_left_65_negative { left: -65px; }
.plenum_top_0 { top: 0; }
.plenum_top_5 { top: 5px; }
.plenum_top_40_negative { top: -40px; }
.plenum_top_10_negative { top: -10px; }
.plenum_top_5_negative { top: -5px; }
.plenum_top_3_negative { top: -3px; }
.plenum_top_10 { top: 10px; }
.plenum_top_17 { top: 17px; }
.plenum_top_20 { top: 20px; }
.plenum_bottom_20 { bottom: 20px; }
.plenum_bottom_30 { bottom: 30px; }
.plenum_bottom_35_negative { bottom: -35px; }


/* 7.22 overflow */
.plenum_overflow_hidden { overflow: hidden; }
.plenum_overflow_x_auto { overflow-x: auto; }
.plenum_overflow_y_auto { overflow-y: auto; }


/* 7.23 cursor */
.plenum_cursor_move { cursor: move; }
.plenum_cursor_pointer { cursor: pointer; }
.plenum_cursor_zoom_out { cursor: zoom-out; }


/* 7.24 outline */
.plenum_outline_0{ outline: 0; }


/* 7.25 z-index */
.plenum_z_index_1_negative{ z-index: -1; }
.plenum_z_index_9{ z-index: 9; }
.plenum_z_index_99{ z-index: 99; }
.plenum_z_index_999{ z-index: 999; }


/* 7.26 transition */
.plenum_transition_all_08_ease{
	-webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease;
}

/* 7.27 opacity */
.plenum_opacity_0{ opacity: 0; }
.plenum_opacity_07{ opacity: 0.7; }
.plenum_opacity_05_hover:hover{ opacity: 0.5; }


/* 7.28 zoom */
.plenum_zoom_1_1_hover:hover{ zoom: 1.1; }




/* 8 CUSTOM FOR THEME ------------------------------------------------------- */

/* 8.1 navigation 1*/
.plenum_navigation_1 { margin-left: 70px; }
.plenum_navigation_1 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_1 > ul > li { display: inline-block; }
.plenum_navigation_1 > ul > li:after { content: "|"; display: inline-block; margin: 0px 20px; color: #bda382; }
.plenum_navigation_1 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_1 li a { color: #fff; font-size: 16px; font-family: 'Montserrat'; }
.plenum_navigation_1 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_1 > ul li > ul.plenum_sub_menu { background-color: #B8BB64; position: absolute; margin: 0px; padding: 0px; list-style: none; display: none; }
.plenum_navigation_1 > ul li > ul.plenum_sub_menu > li { padding: 5px 10px; font-size: 13px; border-bottom: 1px solid #000; }
.plenum_navigation_1 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }
/*top header*/
.plenum_navigation_top_header_1 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_top_header_1 > ul > li { display: inline-block; }
.plenum_navigation_top_header_1 > ul > li:after { content: "|"; display: inline-block; margin: 0px 20px; font-size: 13px; color:#d8d8d8; }
.plenum_navigation_top_header_1 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_top_header_1 li a { font-size: 13px; }
.plenum_navigation_top_header_1 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_top_header_1 > ul li > ul.plenum_sub_menu { background-color: #B8BB64; position: absolute; margin: 0px; padding: 0px; list-style: none; display: none; }
.plenum_navigation_top_header_1 > ul li > ul.plenum_sub_menu > li { padding: 5px 10px; font-size: 13px; border-bottom: 1px solid #000; }
.plenum_navigation_top_header_1 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }



/* 8.2 navigation 2 */
.plenum_navigation_2 { margin-left: 70px; }
.plenum_navigation_2 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_2 > ul > li { display: inline-block; }
.plenum_navigation_2 > ul > li:after { content: "|"; display: inline-block; margin: 0px 20px; color: #B7B7B7; }
.plenum_navigation_2 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_2 li a { color: #fff; font-size: 16px; font-family: 'Montserrat'; }
.plenum_navigation_2 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_2 > ul li > ul.plenum_sub_menu { position: absolute; margin: 0px; padding: 0px; list-style: none; display: none; margin-left: -20px; padding-top: 20px; width: 170px; }
.plenum_navigation_2 > ul li > ul.plenum_sub_menu > li { padding: 10px 20px; border-bottom: 1px solid #f1f1f1; text-align: left; background-color: #fff; position: relative; box-shadow: 0px 2px 5px #f1f1f1; }
.plenum_navigation_2 > ul li > ul.plenum_sub_menu > li:hover { background-color: #f9f9f9;  }
.plenum_navigation_2 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }
.plenum_navigation_2 > ul li > ul.plenum_sub_menu li a { color: #727475; font-size: 14px; }
.plenum_navigation_2 > ul li > ul.plenum_sub_menu li > ul.plenum_sub_menu { margin-left: 150px; top: 0; padding-top: 0; padding-left: 20px; }
/*responsive*/
.plenum_navigation_2_sidebar > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_2_sidebar > ul > li { display: inline-block; }
.plenum_navigation_2_sidebar li a { color: #fff; font-size: 16px; font-family: 'Montserrat'; }
.plenum_navigation_2_sidebar li > a { padding: 10px 0px; display: inline-block; font-size: 24px; text-transform: lowercase; }
.plenum_navigation_2_sidebar > ul li > ul.plenum_sub_menu { margin: 0px; padding: 0px; list-style: none; }
.plenum_navigation_2_sidebar > ul li > ul.plenum_sub_menu > li { padding: 10px 20px; text-align: left; }
.plenum_navigation_2_sidebar > ul li > ul.plenum_sub_menu li a { color: #fff; font-size: 14px; }
.plenum_navigation_2_sidebar > ul li > ul.plenum_sub_menu li > ul.plenum_sub_menu {  }
/*top header*/
.plenum_navigation_top_header_2 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_top_header_2 > ul > li { display: inline-block; }
.plenum_navigation_top_header_2> ul > li:after { content: "|"; display: inline-block; margin: 0px 15px; font-size: 13px; color:#5F5F5F; }
.plenum_navigation_top_header_2 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_top_header_2 li a { font-size: 13px; }
.plenum_navigation_top_header_2 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_top_header_2 > ul li > ul.plenum_sub_menu { padding: 10px 0px 0px 15px; position: absolute; margin: 0px; list-style: none; display: none; z-index: 9; }
.plenum_navigation_top_header_2 > ul li > ul.plenum_sub_menu > li { padding: 7px 15px; font-size: 13px; border-bottom: 1px solid #595959; background-color: #444444; }
.plenum_navigation_top_header_2 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }


.plenum_categoria{ margin-top:10px}
.plenum_nome_curso{ line-height:normal}

/* 8.2 navigation 3 */
.menu-hover li:hover{ opacity:0.7}
.plenum_navigation_3 { margin-left: 70px; }
.plenum_navigation_3 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_3 > ul > li { display: inline-block; }
.plenum_navigation_3 > ul > li:after { content: "|"; display: inline-block; margin: 0px 20px; color: #f1f1f1; }
.plenum_navigation_3 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_3 li a { color: #727475; font-size: 12.5px; font-family: 'Montserrat'; }
.plenum_navigation_3 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_3 > ul li > ul.plenum_sub_menu { position: absolute; margin: 0px; padding: 0px; list-style: none; display: none; margin-left: -20px; padding-top: 20px; width: 170px; }
.plenum_navigation_3 > ul li > ul.plenum_sub_menu > li { padding: 10px 20px; border-bottom: 1px solid #f1f1f1; text-align: left; background-color: #fff; position: relative; box-shadow: 0px 2px 5px #f1f1f1; }
.plenum_navigation_3 > ul li > ul.plenum_sub_menu > li:hover { background-color: #f9f9f9;  }
.plenum_navigation_3 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }
.plenum_navigation_3 > ul li > ul.plenum_sub_menu li a { color: #727475; font-size: 14px; }
.plenum_navigation_3 > ul li > ul.plenum_sub_menu li > ul.plenum_sub_menu { margin-left: 150px; top: 0; padding-top: 0; padding-left: 20px; }
/*responsive*/
.plenum_navigation_3_sidebar > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_3_sidebar > ul > li { display: inline-block; }
.plenum_navigation_3_sidebar li a { color: #fff; font-size: 16px; font-family: 'Montserrat'; }
.plenum_navigation_3_sidebar li > a { padding: 15px 0px; display: inline-block; font-size: 15px; text-transform: uppercase; }
.plenum_navigation_3_sidebar > ul li > ul.plenum_sub_menu { margin: 0px; padding: 0px; list-style: none; }
.plenum_navigation_3_sidebar > ul li > ul.plenum_sub_menu > li { padding: 10px 20px; text-align: left; }
.plenum_navigation_3_sidebar > ul li > ul.plenum_sub_menu li a { color: #fff; font-size: 14px; }
.plenum_navigation_3_sidebar > ul li > ul.plenum_sub_menu li > ul.plenum_sub_menu {  }
/*top header*/
.plenum_navigation_top_header_3 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_top_header_3 > ul > li { display: inline-block; }
.plenum_navigation_top_header_3> ul > li:after { content: "|"; display: inline-block; margin: 0px 15px; font-size: 13px; color:#b59974; }
.plenum_navigation_top_header_3 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_top_header_3 li a { font-size: 13px; }
.plenum_navigation_top_header_3 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_top_header_3 > ul li > ul.plenum_sub_menu { padding: 10px 0px 0px 15px; position: absolute; margin: 0px; list-style: none; display: none; z-index: 9; }
.plenum_navigation_top_header_3 > ul li > ul.plenum_sub_menu > li { padding: 7px 15px; font-size: 13px; border-bottom: 1px solid #595959; background-color: #444444; }
.plenum_navigation_top_header_3 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }


/* 8.2 navigation 4 */
.plenum_navigation_4 { margin-left: 70px; }
.plenum_navigation_4 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_4 > ul > li { display: inline-block; }
.plenum_navigation_4 > ul > li:after { content: "|"; display: inline-block; margin: 0px 20px; color: #f1f1f1; }
.plenum_navigation_4 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_4 li a { color: #727475; font-size: 16px; font-family: 'Montserrat'; }
.plenum_navigation_4 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_4 > ul li > ul.plenum_sub_menu { position: absolute; margin: 0px; padding: 0px; list-style: none; display: none; margin-left: -20px; padding-top: 20px; width: 170px; }
.plenum_navigation_4 > ul li > ul.plenum_sub_menu > li { padding: 10px 20px; border-bottom: 1px solid #f1f1f1; text-align: left; background-color: #fff; position: relative; box-shadow: 0px 2px 5px #f1f1f1; }
.plenum_navigation_4 > ul li > ul.plenum_sub_menu > li:hover { background-color: #f9f9f9;  }
.plenum_navigation_4 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }
.plenum_navigation_4 > ul li > ul.plenum_sub_menu li a { color: #727475; font-size: 14px; }
.plenum_navigation_4 > ul li > ul.plenum_sub_menu li > ul.plenum_sub_menu { margin-left: 150px; top: 0; padding-top: 0; padding-left: 20px; }
/*responsive*/
.plenum_navigation_4_sidebar > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_4_sidebar > ul > li { display: inline-block; }
.plenum_navigation_4_sidebar li a { color: #fff; font-size: 16px; font-family: 'Montserrat'; }
.plenum_navigation_4_sidebar li > a { padding: 10px 0px; display: inline-block; font-size: 24px; text-transform: lowercase; }
.plenum_navigation_4_sidebar > ul li > ul.plenum_sub_menu { margin: 0px; padding: 0px; list-style: none; }
.plenum_navigation_4_sidebar > ul li > ul.plenum_sub_menu > li { padding: 10px 20px; text-align: left; }
.plenum_navigation_4_sidebar > ul li > ul.plenum_sub_menu li a { color: #fff; font-size: 14px; }
.plenum_navigation_4_sidebar > ul li > ul.plenum_sub_menu li > ul.plenum_sub_menu {  }
/*top header*/
.plenum_navigation_top_header_4 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_top_header_4 > ul > li { display: inline-block; }
.plenum_navigation_top_header_4> ul > li:after { content: "|"; display: inline-block; margin: 0px 15px; font-size: 13px; color:#5F5F5F; }
.plenum_navigation_top_header_4 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_top_header_4 li a { font-size: 13px; }
.plenum_navigation_top_header_4 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_top_header_4 > ul li > ul.plenum_sub_menu { padding: 10px 0px 0px 15px; position: absolute; margin: 0px; list-style: none; display: none; z-index: 9; }
.plenum_navigation_top_header_4 > ul li > ul.plenum_sub_menu > li { padding: 7px 15px; font-size: 13px; border-bottom: 1px solid #595959; background-color: #444444; }
.plenum_navigation_top_header_4 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }


/* 8.2 navigation 5 */
.plenum_navigation_5 { margin-left: 70px; }
.plenum_navigation_5 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_5 > ul > li { display: inline-block; }
.plenum_navigation_5 > ul > li:after { content: "|"; display: inline-block; margin: 0px 20px; color: #B7B7B7; }
.plenum_navigation_5 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_5 li a { color: #fff; font-size: 16px; font-family: 'Montserrat'; }
.plenum_navigation_5 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_5 > ul li > ul.plenum_sub_menu { position: absolute; margin: 0px; padding: 0px; list-style: none; display: none; margin-left: -20px; padding-top: 20px; width: 170px; }
.plenum_navigation_5 > ul li > ul.plenum_sub_menu > li { padding: 10px 20px; border-bottom: 1px solid #f1f1f1; text-align: left; background-color: #fff; position: relative; box-shadow: 0px 2px 5px #f1f1f1; }
.plenum_navigation_5 > ul li > ul.plenum_sub_menu > li:hover { background-color: #f9f9f9;  }
.plenum_navigation_5 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }
.plenum_navigation_5 > ul li > ul.plenum_sub_menu li a { color: #727475; font-size: 14px; }
.plenum_navigation_5 > ul li > ul.plenum_sub_menu li > ul.plenum_sub_menu { margin-left: 150px; top: 0; padding-top: 0; padding-left: 20px; }
/*responsive*/
.plenum_navigation_5_sidebar > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_5_sidebar > ul > li { display: inline-block; }
.plenum_navigation_5_sidebar li a { color: #fff; font-size: 16px; font-family: 'Montserrat'; }
.plenum_navigation_5_sidebar li > a { padding: 10px 0px; display: inline-block; font-size: 24px; text-transform: lowercase; }
.plenum_navigation_5_sidebar > ul li > ul.plenum_sub_menu { margin: 0px; padding: 0px; list-style: none; }
.plenum_navigation_5_sidebar > ul li > ul.plenum_sub_menu > li { padding: 10px 20px; text-align: left; }
.plenum_navigation_5_sidebar > ul li > ul.plenum_sub_menu li a { color: #fff; font-size: 14px; }
.plenum_navigation_5_sidebar > ul li > ul.plenum_sub_menu li > ul.plenum_sub_menu {  }
/*top header*/
.plenum_navigation_top_header_5 > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_top_header_5 > ul > li { display: inline-block; }
.plenum_navigation_top_header_5> ul > li:after { content: "|"; display: inline-block; margin: 0px 15px; font-size: 13px; color:#b9b9b9; }
.plenum_navigation_top_header_5 > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_top_header_5 li a { font-size: 13px; }
.plenum_navigation_top_header_5 > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_top_header_5 > ul li > ul.plenum_sub_menu { padding: 10px 0px 0px 15px; position: absolute; margin: 0px; list-style: none; display: none; z-index: 9; }
.plenum_navigation_top_header_5 > ul li > ul.plenum_sub_menu > li { padding: 7px 15px; font-size: 13px; border-bottom: 1px solid #595959; background-color: #444444; }
.plenum_navigation_top_header_5 > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }


/* 8.6 navigation copyright */
.plenum_navigation_copyright > ul { list-style: none; margin: 0px; padding: 0px; }
.plenum_navigation_copyright > ul > li { display: inline-block; }
.plenum_navigation_copyright > ul > li:after { content: "|"; display: inline-block; margin: 0px 20px; font-size: 14px; color:#5F5F5F; }
.plenum_navigation_copyright > ul > li:last-child:after { content: ""; margin: 0px; }
.plenum_navigation_copyright li a { font-size: 14px; }

.plenum_navigation_copyright > ul li:hover > ul.plenum_sub_menu { display: block; }
.plenum_navigation_copyright > ul li > ul.plenum_sub_menu { background-color: #B8BB64; position: absolute; margin: 0px; padding: 0px; list-style: none; display: none; }
.plenum_navigation_copyright > ul li > ul.plenum_sub_menu > li { padding: 5px 10px; font-size: 13px; border-bottom: 1px solid #000; }
.plenum_navigation_copyright > ul li > ul.plenum_sub_menu > li:last-child { border-bottom: 0px solid #000; }


/* 9 TYPED PLUGIN ------------------------------------------------------- */


.typed-cursor{opacity: 1;font-size: 50px;color: #fff;font-weight: 100;-webkit-animation: blink 0.7s infinite;-moz-animation: blink 0.7s infinite;-ms-animation: blink 0.7s infinite;-o-animation: blink 0.7s infinite;animation: blink 0.7s infinite;}
@-keyframes blink{0% { opacity:1; }50% { opacity:0; }100% { opacity:1; }}
@-webkit-keyframes blink{0% { opacity:1; }50% { opacity:0; }100% { opacity:1; }}
@-moz-keyframes blink{0% { opacity:1; }50% { opacity:0; }100% { opacity:1; }}
@-ms-keyframes blink{0% { opacity:1; }50% { opacity:0; }100% { opacity:1; }}
@-o-keyframes blink{0% { opacity:1; }50% { opacity:0; }100% { opacity:1; }}
.plenum_typed { border-bottom: 5px solid #ceb28d; }


/* 10 JQUEY UI ------------------------------------------------------- */

.plenum_tooltip:hover span { display: block; opacity: 1; }
.ui-tooltip{ font-family: 'Varela Round', sans-serif; z-index: 99; background-color: #444; border-radius: 3px; padding: 5px 10px; position: absolute; color: #fff; margin: 0px; font-size: 16px; outline: 0; -webkit-appearance: none; border: 0;}
.ui-helper-hidden-accessible { display: none; }

/* 11 RESPONSIVE ------------------------------------------------------- */


/* 11.1 ipad land*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .plenum_container{width:960px;}
    .grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{ width: 100% !important; }
}

/* 11.2 ipad port*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .plenum_container {width:748px;}
    .plenum_width_100_percentage_ipad_port { width: 100%; }
    .grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{ width: 100% !important; }
}

/* 11.3 iphone land*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body{ -webkit-text-size-adjust:none; }      
    .plenum_container {width:460px;}
    .grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{ width: 100% !important; }
}

/* 11.4 iphone port*/
@media only screen and (min-width: 320px) and (max-width: 479px){
    body{ -webkit-text-size-adjust:none; }
    .plenum_container{ width:300px;}
    .plenum_width_100_percentage_iphone_port { width: 100%; }
    .plenum_text_align_left_iphone_port { text-align: left; }
    .grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{ width: 100% !important; } 
}

/* 11.5 all responsive*/
@media only screen and (min-width: 320px) and (max-width: 1199px) {
    
    .plenum_display_none_all_responsive { display: none; }
    .plenum_padding_0_20_responsive { padding: 0px 20px; }
    .plenum_display_block_responsive { display: block; }
    .plenum_width_100_percentage_responsive { width: 100%; }
    .plenum_width_50_percentage_responsive { width: 50%; }
	.plenum_width_33_percentage_responsive { width: 33%; }
    .plenum_text_align_center_responsive { text-align: center; }
    .plenum_text_align_left_responsive { text-align: left; }
    .plenum_margin_top_5_responsive { margin-top: 5px; }
    .plenum_border_top_1_solid_greydark_responsive { border-top: 1px solid #595959; }
    .plenum_border_top_1_solid_grey_responsive { border-top: 1px solid #f1f1f1; }
    .plenum_border_top_1_solid_orangedark_responsive { border-top: 1px solid #b59974; }
    .plenum_cursor_move_responsive { cursor: move; }
    .plenum_font_size_40_responsive { font-size: 40px; }
    .plenum_line_height_40_responsive { line-height: 40px; }

}

/* 11.6 all iphone*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    .plenum_display_none_all_iphone { display: none; }
    .plenum_display_block_all_iphone { display: block; }
    .plenum_width_100_percentage_all_iphone { width: 100%; }
    .plenum_width_50_percentage_all_iphone { width: 50%; }
    .plenum_width_50_all_iphone { width: 50px; }
    .plenum_width_250_all_iphone { width: 250px; }
    .plenum_text_align_center_all_iphone { text-align: center; }
    .plenum_text_align_left_all_iphone { text-align: left; }
    .plenum_padding_right_0_all_iphone { padding-right: 0px; }
    .plenum_padding_left_0_all_iphone { padding-left: 0px; }
    .plenum_padding_0_all_iphone { padding: 0px; }
    .plenum_padding_40_all_iphone { padding: 40px; }
    .plenum_font_size_40_all_iphone { font-size: 40px; }
    .plenum_font_size_20_all_iphone { font-size: 20px; }
    .plenum_font_size_10_all_iphone { font-size: 10px; }
    .plenum_line_height_40_all_iphone { line-height: 40px; }
    .plenum_line_height_20_all_iphone { line-height: 20px; }
    .plenum_position_relative_all_iphone { position: relative; }
    .plenum_margin_top_20_all_iphone { margin-top: 20px; }

}

@media (max-width: 767px) {
	
	.bot-20px{ margin-bottom:20px;}
	
	.panel-group .panel-heading .panel-title.collapsed:before {
  content: "+ Todos" !important;
  width:auto !important;
  font-size:10px !important
  }
	.margin_bottom_responsive{ margin-bottom:50px; }
	.margin_bottom_responsive_20{ margin-bottom:20px; width:253px; margin-left:10px; }
	.margin_bottom_responsive_40{margin-bottom:40px;}
	
	.plenum_height_100_mobile{ height:70px !important}
	
	.plenum_width_100_mobile{ width:100% !important}
	.plenum_margin_0_mobile{ margin-left:0px !important}
	
	.plenum_height_20_mobile{ height:30px !important}
	
	.plenum_height_75_mobile{ height:75px !important;}
	
	.plenum_text1, .plenum_text2{ line-height:normal}
	
	.plenum_text1{ font-size:30px !important}
	
	.plenum_text2{ font-size:20px !important}
	
	.plenum_botao_responsive{ width:100%; padding:25px; margin-left:0px !important;}
	

}


@media (max-width: 960px) {
	.barralateral{ margin-top:-150px !important}
	}