
/** 21. PANELS
**********************************/
.panel {
  margin-bottom: 24px;
  background-color: transparent;
  border: none;
  border-radius: 24px;
  border-color: #ddd;
}

.panel > .panel-heading {
  color: #333333;
  background-color: transparent;
  border-color: #ddd;
}

.panel > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}

.panel > .panel-heading .badge {
  color: transparent;
  background-color: #333333;
}

.panel > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.panel-body {
  padding: 20px 22px;
}

.panel-body:before,
.panel-body:after {
  content: " ";
  display: table;
}

.panel-body:after {
  clear: both;
}

.panel-heading {
  border-top-right-radius: 23px;
  border-top-left-radius: 23px;
}

.panel-heading .panel-title {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  border-radius: 24px;
  background-color: #f2f2f2;
}

.panel-heading .panel-title:not(a) {
  padding: 14px 22px;
}

.panel-heading > a {
  font-weight: normal;
  padding: 12px 22px;
  text-decoration: none;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.panel-heading > a:hover {
  color: rgb(26, 99, 154);
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 24px;
}

.panel-group .panel + .panel {
  margin-top: 10px;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-group .panel-heading .panel-title {
  position: relative;
  padding-right: 45px;
}

.panel-group .panel-heading .panel-title:before {
  display: block;
  position: absolute;
  content: "";
  width: 13px;
  height: 2px;
  top: 50%;
  right: 22px;
  margin-top: -1px;

}

.panel-group .panel-heading .panel-title.collapsed {
  color: rgb(26, 99, 154);
  background-color: transparent;
}

.panel-group .panel-heading .panel-title.collapsed:before {
  content: "+ Ver Todos";
  font-size: 15px;
  width:100px;
  padding:10px;
  height:auto;
  font-weight:bold;
  color:#fff;
  text-align:center;
  background:rgb(26, 99, 154);
  border-radius:10px;
  line-height: 1;
  font-weight: normal;
  margin-top: -15px;

}

.panel-group .panel-heading .panel-title.collapsed:hover {
  color: rgb(26, 99, 154);
  background-color: #f2f2f2;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease, visibility 0.35s ease;
  -o-transition: height 0.35s ease, visibility 0.35s ease;
  transition: height 0.35s ease, visibility 0.35s ease;
}
