/*RESET NORMALIZE*/
* {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
}

/*LOGIN*/
.login {
    background: #1D2025;
    color: var(--color-default);
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 30px 0;
    overflow-x: scroll;
}

.login_box {
    width: 400px;
    max-width: 90%;
    margin: auto;
    padding: 35px;
    background: #ffffff;
}

.login_box form {
    display: block;
    margin: 0 0 20px 0;
}

.login_box .hl {
    text-align: center;
    font-size: var(--font-max);
}

.login_box label {
    display: block;
    margin-bottom: 20px;
}

.login_box label .field {
    display: block;
    font-size: var(--font-small);
    font-weight: bold;
}

.login_box label input {
    border: none;
    border-bottom: 1px solid #1D2025;
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: var(--font-normal);
}

.login_box button {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
    color: #ffffff;
    font-size: var(--font-normal);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.login_box footer {
    text-align: center;
    font-size: var(--font-min);
    font-weight: 300;
}

.login_box footer a {
    display: block;
    font-size: var(--font-normal);
    color: var(--color-corecms);
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}

.login_box footer a:hover {
    color: var(--hover-color-corecms);
}

/*MESSAGES*/

.message {
    color: #ffffff;
    font-size: var(--font-normal);
    font-weight: var(--weight-strong);
    text-align: center;

    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #cccccc;

    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
}

.ajax_response {
    margin: 25px 0;
}

.message.success {
    --color: var(--color-green);
    color: var(--color);
    border-color: var(--color);
}

.message.info {
    --color: var(--color-blue);
    color: var(--color);
    border-color: var(--color);
}

.message.warning {
    --color: var(--color-yellow);
    color: var(--color);
    border-color: var(--color);
}

.message.error {
    --color: var(--color-red);
    color: var(--color);
    border-color: var(--color);
}